{
  "bts_rpc": {
    "url": "http://localhost:1984/rpc",
    "username": "",
    "password": ""
  },
  "wallet_name": "payroll",
  "delegate_name": "[delegate.marketing]",
  "payto_account": "[it_person]",
  "paycheck_to" : "[non_it_person]",
  "balance_threshold": "2500",
  "salary" : "57200"
}
